body {
    font-family: "Poppins", sans-serif;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    padding: 10px;
    background-color: #141e4c;
}

.footer {
    font-size: 12px;
    margin-top: 12px;
    color: white;
}